# Works only as root under /etc/systemd/system/
[Unit]
Description=Mount Data from Node

[Mount]
What=//10.0.1.100/Data
Where=/home/steph/Node/Data
Options=_netdev,credentials=/home/steph/.smbcreds,iocharset=utf8,rw,uid=1000,gid=1000
Type=cifs
TimeoutSec=30
ForceUnmount=true

[Install]
WantedBy=multi-user.target
