[Unit]
Description=Sunshine
After=graphical-session.target
Wants=graphical-session.target

[Service]
WorkingDirectory=/home/steph/
ExecStart=/usr/bin/sunshine
Restart=on-failure

[Install]
WantedBy=graphical-session.target
