* {
  border: none;
  border-radius: 7px;
  margin-top: 2px;
  font-family: "JetbrainsMono Nerd Font", serif;
  font-size: 17px;
  transition: none;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  margin-left: 2px;
  padding: 1px 3px 3px 3px;
  background-color: #282a36;
}

#workspaces button {
  padding: 0 6px 0 4px;
  color: #44475a;
  background: transparent;
}

#workspaces button:hover {
  color: #8be9fd;
  box-shadow: none;
}

#workspaces button.active {
  color: #bd93f9;
}

#workspaces button.urgent {
  color: #ff5555;
}

#tray {
  margin: 1px 2px 1px 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #282a36;
  background: #ffb86c;
}

#pulseaudio {
  margin: 1px 2px 1px 2px;
  padding-left: 7px;
  padding-right: 7px;
  color: #1a1826;
  background: #f1fa8c;
}

#battery {
  margin: 1px 2px 1px 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #282a36;
  background: #ff79c6;
}

#battery.charging,
#battery.plugged {
  color: #282a36;
  background-color: #69beee;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  color: #282a36;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#bluetooth {
  margin: 1px 2px 1px 2px;
  padding-left: 3px;
  padding-right: 3px;
  color: #282a36;
  background: #8be9fd;
}

#custom-bluetoothtoggle {
  padding-left: 3px;
}

#backlight {
  margin: 1px 2px 1px 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: #282a36;
  background: #bd93f9;
}

#custom-backlight-minus {
  padding-left: 3px;
  padding-right: 5px;
}

#custom-backlight-plus {
  padding-right: 7px;
}

#clock {
  margin-top: 1px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1px;
  color: #282a36;
  background: #6272a4;
}

#custom-exit {
  margin: 1px 2px 1px 2px;
  padding-left: 7px;
  padding-right: 2px;
  color: #282a36;
  background: #ff5555;
}

#custom-toggle-leftbar {
  margin: 1px 2px 1px 2px;
  padding-left: 7px;
  padding-right: 12px;
  color: #282a36;
  background: #f8f8f2;
}

#custom-cliphist {
  margin: 1px 2px 1px 2px;
  padding-left: 7px;
  padding-right: 12px;
  color: #282a36;
  background: #50fa7b;
}

#custom-power-profile {
  margin: 1px 2px 1px 2px;
  padding-left: 7px;
  padding-right: 16px;
  color: #282a36;
  background: #6272a4;
}

#custom-toggle-osk {
  margin: 1px 2px 1px 2px;
  padding-left: 9px;
  padding-right: 9px;
  color: #282a36;
  background: #8be9fd;
}
