[Unit]
DefaultDependencies=no
BindsTo=dev-mmcblk0p1.device
After=dev-mmcblk0p1.device
BindsTo=dev-mapper-home\x2dsteph.device
Requires=home-steph.mount
Before=home-steph.mount
Conflicts=umount.target
Before=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutSec=0
ExecStop=/usr/bin/cryptsetup close home-steph

[Install]
RequiredBy=dev-mapper-home\x2dsteph.device
