* {
  border: none;
  border-radius: 7px;
  font-family: "JetbrainsMono Nerd Font", serif;
  font-size: 17px;
  transition: none;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  margin: 3px 2px 1px 2px;
}

#workspaces button {
  padding: 0 6px 0 4px;
  color: #44475a;
  background: transparent;
}

#workspaces button:hover {
  color: #8be9fd;
  box-shadow: none;
}

#workspaces button.active {
  color: #f8f8f2;
}

#workspaces button.urgent {
  color: #ff5555;
}

#network {
  margin: 1px 2px 1px 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #f8f8f2;
}

#pulseaudio {
  margin: 1px 2px 1px 2px;
  padding-left: 7px;
  padding-right: 7px;
  color: #f8f8f2;
}

#battery {
  margin: 1px 2px 1px 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #f8f8f2;
}

#battery.charging,
#battery.plugged {
  color: #f8f8f2;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #f8f8f2;
}

@keyframes blink {
  to {
    background-color: #44475a;
    color: #bf616a;
  }
}

#bluetooth {
  margin: 1px 2px 1px 2px;
  padding-left: 3px;
  padding-right: 3px;
  color: #f8f8f2;
}

#custom-bluetoothtoggle {
  padding-left: 3px;
  color: #f8f8f2;
}

#backlight {
  margin: 1px 2px 1px 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: #f8f8f2;
}

#custom-backlight-minus {
  padding-left: 3px;
  padding-right: 5px;
  color: #f8f8f2;
}

#custom-backlight-plus {
  padding-right: 7px;
  color: #f8f8f2;
}

#clock {
  margin-top: 1px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1px;
  color: #f8f8f2;
}

#custom-exit {
  margin: 1px 2px 1px 2px;
  padding-left: 7px;
  padding-right: 2px;
  color: #f8f8f2;
}

#custom-toggle-leftbar {
  margin: 1px 2px 1px 2px;
  padding-left: 7px;
  padding-right: 12px;
  color: #f8f8f2;
}

#custom-cliphist {
  margin: 1px 2px 1px 2px;
  padding-left: 7px;
  padding-right: 12px;
  color: #f8f8f2;
}

#custom-power-profile {
  margin: 1px 2px 1px 2px;
  padding-left: 7px;
  padding-right: 12px;
  color: #f8f8f2;
}

#custom-toggle-osk {
  margin: 1px 2px 1px 2px;
  padding-left: 9px;
  padding-right: 9px;
  color: #f8f8f2;
}
